Neuron/bin/Debug/Neuron.exe.config
Neuron/bin/Debug/Neuron.pdb
Neuron/bin/Release/Neuron.exe.config
Neuron/bin/Release/Neuron.pdb
Neuron/obj/Debug/DesignTimeResolveAssemblyReferences.cache
Neuron/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Neuron/obj/Debug/Neuron.csproj.CoreCompileInputs.cache
Neuron/obj/Debug/Neuron.csproj.FileListAbsolute.txt
Neuron/obj/Debug/Neuron.csproj.GenerateResource.cache
Neuron/obj/Debug/Neuron.csprojAssemblyReference.cache
Neuron/obj/Debug/Neuron.exe
Neuron/obj/Debug/Neuron.MainForm.resources
Neuron/obj/Debug/Neuron.pdb
Neuron/obj/Debug/Neuron.Properties.Resources.resources
Neuron/obj/Release/Neuron.csproj.CoreCompileInputs.cache
Neuron/obj/Release/Neuron.csproj.FileListAbsolute.txt
Neuron/obj/Release/Neuron.csproj.GenerateResource.cache
Neuron/obj/Release/Neuron.csprojAssemblyReference.cache
Neuron/obj/Release/Neuron.exe
Neuron/obj/Release/Neuron.MainForm.resources
Neuron/obj/Release/Neuron.pdb
Neuron/obj/Release/Neuron.Properties.Resources.resources
.vs/Neuron/v16/.suo
Neuron/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
